.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  padding: 10px;
}

.header-col {
  background-color: #fff !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.app-body {
  background: #fafafa !important;
  min-height: calc(100vh - 110px);
  max-height: calc(100vh - 110px);
}

.app-footer {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}
